<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052585328145-2htj7t9ptabtdunmmhmpm2gepvd0bd5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052585328145-2htj7t9ptabtdunmmhmpm2gepvd0bd5e</string>
	<key>API_KEY</key>
	<string>AIzaSyBv5hyuOwG4zv3pUmV0pcUdEPij9ksVduY</string>
	<key>GCM_SENDER_ID</key>
	<string>1052585328145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hsn.Messenger-App</string>
	<key>PROJECT_ID</key>
	<string>messenger-d7cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-d7cb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052585328145:ios:a9b9ec957d8cbc2bccbbb0</string>
</dict>
</plist>